@import "tailwindcss";
@theme {
  /*colors*/
  --color-background: #000405;

  --color-foreground: #010809;

  --color-primary: #f4f4f5;
  --color-secondary: #a1a1aa;
  --color-highlight: #22d3ee;
  --color-action: #a3e635;

  --color-textH: #d72638;

  --font-outfit: var(--font-outfit); /*main*/
  --font-rajdhani: var(--font-rajdhani); /*reps stats ...*/
  --font-Clash: var(--font-Clash); /*reps stats ...*/
}
::-moz-selection {
  color: #000000;
  background: #ffffff;
}
::selection {
  color: #000000;
  background: #ffffff;
}
